body {
     background-image:url("https://bloglojaoptisom.files.wordpress.com/2017/01/pic5.jpg?w=1400");
     background-size: 105%;
}
#h1_app_colagem {
     color: rgb(255, 255, 255)
}
#h4_1 {
     color: rgb(255, 255, 255)
}
#h4_2 {
     color: rgb(255, 255, 255)
}
#h4_3 {
     color: rgb(255, 255, 255)
}